/* Головні кольори  */
:root {
  --color-primary: rgb(0, 0, 0);
  --color-secondary: #0e010e;
  --color-tertiary: #3d7aff;
  --color-quaternary: #e77474;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
  margin: 0;
  background-color: #fafafa;
  color: var(--color-primary);
  font-family: "Times New Roman", Times, serif;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-left: auto;
  padding: 20px;
  list-style: none;
}
/* Logo */
.logo {
  display: flex;
  color: #152419;
  font-size: large;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}
.logo:hover {
  color: #2b22aa;
}
.logo:focus {
  color: #2b22aa;
}

.container.jobs.diploms {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1230px;
}
.container-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.item-diplom {
  width: calc(100% / 3);
}
.item {
  width: calc(100% / 3);
}
.img-jobs {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 18px;
}

.text-jobs {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 18px;
}
.type {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 15px;
  margin-right: 15px;
}

/* Hero */
.hero {
  background-color: #fafafa;
  text-align: center;
}
.hero-img {
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 30%;
}
.hero-title {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Section */
.section-title {
  background-color: #ae2ad6;
  color: #160101;
  text-align: center;
}

.section-price-title {
  color: #080808;
  text-align: center;
  background-color: #0c8827;
}

.container-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.flex-price {
  width: calc((100% - 75px) / 4);
  margin-right: 25px;
}
.flex-price:nth-child(4n) {
  margin-right: 0%;
}
.link-instagram {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #e90f0f;
  border-radius: 5px;
  background-color: #3777c5;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 20px;
  color: #ebedf0;
  text-align: center;
  min-width: 100px;
  margin-top: 10px;
}
.link-instagram:hover,
.link-instagram:focus {
  color: #831b1b;
  background-color: #141516;
  border: 2px solid #4892dd;
}
.my-address {
  padding-left: 13px;
  padding-right: 13px;
  color: #0c0c0c;
  text-decoration: none;
}
.link-phone {
  display: flex;
  padding-left: 13px;
  padding-right: 13px;
  text-decoration: none;
}
.list-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
